<%- include('partials/header.ejs') -%>

<body>
<div class="box" id="heading">
    <h1>Agenda for today, <%= dayOfWeek %></h1>
</div>

<div class="box" id="list">
    <h2><%= listHeading %></h2>
    <p>Total tasks: <%= items.length %></p>
    <% for (let i = 0; i < items.length; i++) { %>
        <div class="item">
            <input type="checkbox">
            <p><%= items[i] %></p>
        </div>
    <% } %>

    <form action="/" method="POST">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="listName" value=<%= listHeading %>>+</button>
    </form>
</div>
</body>

<%- include('partials/footer.ejs') -%>